body {
	background-color:#000;
	color:#fff;
	margin:0;
}

.clearfix {
	clear:both;
}

#wrapper {
    height:100%;
}

#browser {
	float:left;
    width:20%;
    background-color:#800;
    height:100%;
}

#workspace {
    float:left;
    width:80%;
    background-color:#080;
    height:100%;
}

#statusBar {
    position:absolute;
    bottom:0;
    height:16px;
    background-color:#008;
    width:100%;
}

#browserList dd {
    margin-left:0;
}

span.editButton {
    float:right;
    margin-right:8px;
}

#browserList dd {
    margin-left:8px;
}

#browserList dt {
    cursor:pointer;
}

#chartCanvas {
    width:100%;
    height:100%;
}

.groupTitleAdd {
    float:right;
    margin-right:8px;
    cursor:pointer;
}

span.delButton {
    float:right;
    margin-right:8px;
}
