body {
	background-color:#000;
	color:#fff;
	margin:0;
}

.clearfix {
	clear:both;
}

#wrapper {
    height:100%;
}

#browser {
	float:left;
    width:20%;
    background-color:#f00;
    height:100%;
}

#workspace {
    float:left;
    width:80%;
    background-color:#0f0;
    height:100%;
}

#statusBar {
    position:absolute;
    bottom:0;
    height:16px;
    background-color:#00f;
    width:100%;
}

#browserList dd {
    margin-left:0;
}

span.editButton {
    float:right;
    margin-right:8px;
}

#browserList dd {
    margin-left:8px;
}

#browserList dt {
    cursor:pointer;
}
